html,body {
    width: 100%;
    height:100%;
}
span {
    color:black;
}
h1,h2 {
    background-color: red;
    color: white;
}
#f {
    /* display: inline-block; */
    display: inherit;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width:50%;
    height: 100%;
    
}
#s {
    display: inherit;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-left: 0;
    display: inline-block; */
    height: 100%;
    width:50%;
    background-color: red;
}

.black {
    color:white;
}

.container {
    display: flex;
    width: 100%;
    height:80%;
    flex-direction: row;

}